Hello {{ title | uppercase | lowercase }}

<div *ngIf="isLoading">
  Loading!
</div>
<!-- <app-todo-list></app-todo-list> -->
<!-- {{ todoList }} -->
<br>

<p>{{amount | currency }}</p>
<br>
<pre>
{{user | json}}
</pre>
<br>
<b>{{ today | date:'MM/dd/yyyy' }}</b>

<p [style.color] = "isActive ? 'green' : 'red'">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet recusandae in nulla consequatur, laudantium voluptate dignissimos quis id officiis sunt, amet illo illum praesentium nostrum. Et dolores dolore perferendis veniam!</p>

<button (click)="onClick($event)">
  OK
</button>
<br>
<input [(ngModel)] = email>
{{ email }}
<!-- <input #email
  (keyup.enter)="search(email.value)"> -->
<br>
<img
  [src]="imageURL"
  [class.active]="isActive">
